{{ define "content" }}
  {{ $style := resources.Get "css/review.css" | minify }}
  <style>{{ $style.Content | safeCSS }}</style>

  <section class="review-list-container">
    <div class="album-grid">
      {{ range (.Pages.ByParam "score").Reverse }}
      <a href="{{ .RelPermalink }}" class="album-card-minimal">
        <div class="card-image-wrapper">
          {{ $cover := .Resources.GetMatch "cover.jpg" }}
          {{ with $cover }}
            {{ $thumb := .Fill "800x800 webp" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ $.Title }}" loading="lazy">
          {{ end }}
        </div>
      </a>
      {{ end }}
    </div>
  </section>
{{ end }}
