{{ define "content" }}
  {{ $style := resources.Get "css/review.css" | minify }}
  {{ if $style }}
    <style>{{ $style.Content | safeCSS }}</style>
  {{ end }}

  <div class="album-review-container">
    <header class="album-header-v2">
      <div class="album-cover-wrapper">
        {{ $cover := .Resources.GetMatch "cover.jpg" }}
        {{ with $cover }}
          {{ $img := .Resize "800x" }}
          <img src="{{ $img.RelPermalink }}" alt="{{ $.Title }}">
        {{ end }}
      </div>
      
      <div class="score-circle-wrapper">
        <div class="score-circle">
          <span class="score-num">{{ .Params.score }}</span>
        </div>
      </div>
    </header>

    <div class="album-metadata">
      <h1>{{ .Title }}</h1>
      <h2>{{ .Params.artist }}</h2>
      <p class="album-info">
        發行年份：{{ .Params.released }} <br>
        曲風：{{ range $index, $element := .Params.genres }}{{ if $index }}、{{ end }}{{ $element }}{{ end }}
      </p>
    </div>

    {{ if .Params.intro_quote }}
    <div class="intro-quote-v2">
        <p>“ {{ .Params.intro_quote }} ”</p>
    </div>
    {{ end }}

    <article class="prose">
      {{ .Content }}
    </article>
  </div>
{{ end }}
