{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
  <section class="container">
    <h1 class="title">
      <a class="title-link" href="{{ .Permalink }}">
        標籤: {{ .Title }}
      </a>
    </h1>

    <div class="posts">
      {{ range .Pages }}
        <div class="post on-list">
          <h1 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h1>
          <div class="post-meta">
            <time class="post-date">
              {{ .Date.Format "2006-01-02" }}
            </time>
          </div>
          {{ if .Summary }}
            <div class="post-content">
              {{ .Summary }}
            </div>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
